    .integrantes {
        display: flex;align-content: center;
        list-style: none;

        .items {
        	display: flex;
        	align-items:center;
        	justify-content: center;
        	    flex-direction: column;
        	color: white;
        }
    }

    .bg-primary {
	    background: #09584a;
	    background: -webkit-linear-gradient(#023522, #09584a);
	    background: linear-gradient(#023522, #09584a);
	}

	.txt-white {
		color: white;
	}